@page "/visitors"
@inject IVisitorsService visitorsservice

<h3>Visitors</h3>
<div class="col-12">
	<EditForm Model="@visitor" OnValidSubmit="@SaveVisitor">
		<DataAnnotationsValidator />
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">First Name:</label>
			<InputText class="form-control col-3" @bind-Value="@visitor.first_name" placeholder="Firstname"></InputText>
			<ValidationMessage For="@(() => visitor.first_name)" />
		</div>
		<br />
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">Last Name:</label>
			<InputText class="form-control col-3" @bind-Value="@visitor.last_name" placeholder="Lastname"></InputText>
			<ValidationMessage For="@(() => visitor.last_name)" />
		</div>
		<br />
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">City:</label>
			<InputText class="form-control col-3" @bind-Value="@visitor.city" placeholder="City"></InputText>
			<ValidationMessage For="@(() => visitor.city)" />
		</div>
		<br />
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">Birth Day:</label>
			<InputDate class="form-control col-3" format-value="yyyy-MM-dd" @bind-Value="@visitor.birth_day"></InputDate>
		</div>
		<br />
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">Email:</label>
			<InputText class="form-control col-3" @bind-Value="@visitor.email" placeholder="Email"></InputText>
			<ValidationMessage For="@(() => visitor.email)" />
		</div>
		<div class="col-12 row">
			<label class="col-2 font-weight-bold">Phone Number:</label>
			<InputNumber class="form-control col-3" @bind-Value="@visitor.phone_number" placeholder="Phone Number"></InputNumber>
		</div>
		<br />
		<ValidationSummary />
		<div class="col-12 row">
			<span class="col-2"></span>
			<input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
			<span>&nbsp;</span>
			<input type="submit" class="form-control col-1 btn btn-primary" value="Clear"  />
		</div>
	</EditForm>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<td>VisitorId</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>City</td>
			<td>Birth Day</td>
			<td>Email</td>
			<td>Phone Number</td>
		</tr>
	</thead>
	<tbody>
		@foreach (visitor v in VisitorList)
		{
			<tr>
				<td>@v.VisitorId</td>
				<td>@v.first_name</td>
				<td>@v.last_name</td>
				<td>@v.city</td>
				<td>@v.birth_day</td>
				<td>@v.email</td>
				<td>@v.phone_number</td>
			</tr>
		}
	</tbody>
</table>

@code {
	public visitor visitor { get; set; }
	public List<visitor> VisitorList{ get; set; }
	protected override void OnInitialized()
	{
		visitorsservice.CreationTime = DateTime.Now;
		visitor = new visitor();
		visitor.birth_day = new DateOnly(2022, 1, 1);
		VisitorList = visitorsservice.GetVisitors();
	}
	private void SaveVisitor()
	{
		visitorsservice.SaveVisitor(visitor);
		visitor = new visitor();
	}
	
}
